body {
   background-image: url("https://raw.githubusercontent.com/realcoconutech/coconutech.co.uk/refs/heads/main/backgrounds/waterfall.jpg");
    background-repeat: no-repeat;
    background-size: cover;
     background-attachment: fixed;
  }
  h1, h2, h3, h4, h5, h6, p, a {
    color: white;
    text-align: center; 
  }
  .squircles {
  height: 50mm;
  width: 100mm;
  border-radius: 20%;
  border: dotted;
  background: linear-gradient();
  display: block;
  margin: auto;
  backdrop-filter: blur(10px);
  }
h1 {
  font-family: 'Courier New', Courier, monospace;
}
footer {
  position: fixed;
  text-align: center;
  bottom: 0%;
  left: 43%;
}
.container {
  align-items: center;
  display: flex;
}
h2, h3, h4, h5, h6, p, a {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.squircles2 {
    height: 50mm;
  width: 100mm;
  border-radius: 20%;
  border: dotted;
  background: linear-gradient();
  display: block;
  margin: auto;
  backdrop-filter: blur(10px);
}
 .squircles3 {
  height: 50mm;
  width: 100mm;
  border-radius: 20%;
  border: dotted;
  background: linear-gradient();
  display: block;
  margin: auto;
  backdrop-filter: blur(10px);
  }
